body {
    margin-left: 0px;
    margin-top: 20px;
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: #ff0000;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    box-shadow: 2px 0 6px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.nav:checked ~ nav {
    transform: translateX(0);
}

.label-lav {
    position: fixed;
    top: 15px;
    left: 15px;
    display: inline-block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 1100;
}

.label-lav span {
    display: block;
    width: 30px;
    height: 4px;
    background-color: #ff0000;
    margin: 5px 0;
    transition: all 0.3s ease, background-color 0.3s ease;
}

.nav:checked + label span {
    background-color: #fff;
}

.nav:checked + label span:nth-child(1) {
    transform: rotate(45deg) translateY(10px);
}

.nav:checked + label span:nth-child(2) {
    opacity: 0;
}

.nav:checked + label span:nth-child(3) {
    transform: rotate(-45deg) translateY(-10px);
}

.nav {
    display: none;
}

ul {
    margin: 80px 0 0;
    padding: 0;
    list-style: none;
    opacity: 0;
    transform: translateX(-50px);
    transition: all 0.5s ease;
}

.nav:checked ~ nav ul {
    opacity: 1;
    transform: translateX(0);
}

li {
    padding: 15px 20px;
    color: #fff;
    border-bottom: 1px solid #bd0d0d;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease;
}

li:hover {
    background-color: #820000;
    transform: translateX(10px);
}

li:last-child {
    border-bottom: none;
}

@media (max-width: 768px) {
    nav {
        width: 200px;
    }
}


.cats{
    color: black;
    text-decoration: none;
    border-radius: 5px;
}

a.breadcrumb{
    color: black;
}

.list{
    margin-top: 20px;
}

.categorias{
    color: black;
    text-decoration: none;
    /* border-radius: 5px;
    border-width: 1px; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding: 10px;
}


.btn_entrar {
    background: linear-gradient(to right, rgb(148, 148, 148) 0%, rgb(148, 148, 148) 50%, rgb(255, 0, 0) 50%, rgb(255, 0, 0) 100%);
    background-size: 200% 100%;
    color: white;
    border: none;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    font-weight: bold;
    padding: 2px;
    transition: background-position 1s ease, box-shadow 0.3s ease, transform 0.2s ease;
}

.btn_entrar:hover {
    background-position: -100% 0;
    cursor: pointer;
    color: white;
    transform: translateY(-2px);
}

i:hover{
    color: red;
}
